<div class="ms-5 mt-5">
    <div class="border-bottom pb-3 title">Projects List</div>

    <div class="d-flex mt-3 mb-4">
        <input type="text" (keyup.enter)="onSearch()" placeholder="Project number, name, customer name" class="form-control mt-2 me-3" #search/>
        <select class="form-select mt-2 me-2 mb-4" (change)="onStatusSelected($event)" #select>
            <option value="" disabled selected hidden>Project status </option>
            <option *ngFor="let status of statusOptions" [value]="status.value">
                {{ status.name }}
              </option>
        </select>

        <button class="btn btn-primary bg-gradient ms-5 me-3 mt-1 search-button" (click)="onSearch()">Search Project</button>
        <button class="btn mt-1 reset-button" (click)="onReset()">Reset Search</button>
    </div>

    <table class="table table-hover" *ngIf="totalCount > 0">
        <thead>
          <tr>
            <th></th>
            <th>Number</th>
            <th>Name</th>
            <th>Status</th>
            <th>Customer</th>
            <th>Start Date</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let project of projects">
                <tr>
                    <td>
                        <div class="form-check d-flex justify-content-center">
                            <input class="form-check-input" type="checkbox" id="{{ project.id }}" [checked]="selectedProjectIds.includes(project.id)" (change)="onProjectSelected($event, project.id)">
                        </div>
                    </td>
                    <td style="text-align: right; width: 5%">
                        <a routerLink="/manage/{{project.id}}" style="text-decoration: none; color: #666666;">{{ project.project_Number }}</a>
                    </td>
                    <td>{{ project.name }}</td>
                    <td>{{ getStatusName(project.status) }}</td>
                    <td>{{ project.customer }}</td>
                    <td>{{ project.start_Date | date: 'dd.MM.yyyy' }}</td>
                    <td>
                        <div class="d-flex justify-content-center" *ngIf="isNew(project.status)">
                            <i class="fa fa-trash-o" (click)="onProjectDelete(project.id)"></i>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
        <tfoot *ngIf="selectedProjectIds.length > 0">
            <tr>
                <td colspan="3" style="font-size: 18pt; color: #2F85FA">{{selectedProjectIds.length}} items selected</td>
                <td colspan="4">
                    <div class="d-flex justify-content-end align-items-center" style="color: red; cursor: pointer" (click)="onProjectsDelete()">
                        delete selected items <i class="fa fa-trash-o ms-3 me-4"></i>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="d-flex justify-content-end mt-4" *ngIf="totalCount > 0">
        <app-pager
          [totalCount]="totalCount"
          [pageSize]="manageParams.pageSize"
          (pageChanged)="onPageChanged($event)">
        </app-pager>
    </div>
</div>

