input{
    height: 30px;
    width: 55%;
    padding: 10px 20px;
}

label{
    width: 19%;
    font-weight: 600;
    font-size: 14pt;
    color: #666666;
}

div{
    margin-bottom: 38px;
}

.invalid-feedback{
    width: 12%;
}