input{
    height: 30px;
    width: 55%;
    padding: 10px 20px;
}

label{
    width: 19%;
    font-weight: 600;
    font-size: 14pt;
    color: #666666;
}

div{
    margin-bottom: 38px;
}

.invalid-feedback{
    margin-left: 20px;
    font-size: 14pt;
    font-weight: 600;
    width: 24%;
    margin-bottom: 5px;
}

span{
    color: red;
    padding-left: 5px;
}