.nav{
    min-height: 100vh;
}  

.nav-link{
    color: #666666;
    font-size: 14pt;

    &:nth-child(1), &:nth-child(2){
        color: #2F85FA;
        font-size: 18pt;
        font-weight: 600;
    }

    &.active{
        color: #333333;
        font-weight: 600;
    }
}

