<ul class="nav flex-column ms-4 mt-4">
    <li class="nav-item nav-1 mb-3">
      <a class="nav-link active" href="#">Projects list</a>
    </li>
    <li class="nav-item nav-2">
      <a class="nav-link disabled" href="#">New</a>
    </li>
    <li class="nav-item nav-3">
      <a class="nav-link" href="#">Project</a>
    </li>
    <li class="nav-item nav-4">
      <a class="nav-link" href="#">Customer</a>
    </li>
    <li class="nav-item nav-5">
        <a class="nav-link" href="#">Supplier</a>
    </li>
</ul>